<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <section>
    <a class="button" href="images">View Gallery</a>
  </section>
  <%- include('../partials/footer')  %>
</body>